body {
margin: 0;
overflow: hidden;
}

#game {
  width: 800px;
  height: 480px;
  background-color: #EFEFEF;

  .rollers {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .roller-wrapper {
    perspective: 580px;
    margin: 10px;

    &.left {
      perspective-origin: 150%;
    }

    &.center {
      perspective-origin: 50%;
    }

    &.right {
      perspective-origin: -50%;
    }
  }

  .roller {
    position: relative;
    transform-style: preserve-3d;
  }

  .slot {
    width: inherit;
    height: inherit;
    position: absolute;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    border-bottom: 2px solid #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 85%;
      width: auto;
    }
  }

  .overlay {
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url('../images/slots.png');
    z-index: 1;
  }
}
